@import '../../styles/utils.scss';

.goods {
  max-width: $desktop-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  @include page-padding-inline;

  &__title {
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 10px;
  }

  &__count {
    color: $secondary;
    font-size: 0.9rem;
  }

  &__controllers {
    @include on-tablet {
      max-width: 300px;
    }
  }

  &__pagination {
    margin: 0 auto;
  }
}
