@import '../../styles/utils.scss';

.goods-list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include on-tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @include on-desktop {
    grid-template-columns: repeat(4, 1fr);
  }
}
